<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input
      type="text"
      name="username"
      value="username"
      placeholder="Enter your username"
    />
    <input
      type="text"
      name="email"
      value="email"
      placeholder="Enter your email"
    />
    <input
      type="text"
      name="password"
      value="password"
      placeholder="Enter your password"
    />
    <input type="text" name="age" value="age" placeholder="Enter your age" />
  </body>
</html>
