<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EDIT:</h1>
    <h2><%= user.email %></h2>
    <form action="/user/<%= user.id %>?_method=PATCH" method="post">
        <textarea name="username" id=""><%= user.username %></textarea>
        <br>
        <br>
        <input type="password" name="password" placeholder="Enter your passwoed" id="">
        <!-- <br>
        <br> -->
        <button>Edit</button>
    </form>
</body>
</html>